<div class="navbar">
                <div class="navbar-inner">
                    <div class="sidebar-pusher">
                        <a href="javascript:void(0);" class="waves-effect waves-button waves-classic push-sidebar">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                    <div class="logo-box">
                        <a href="index.html" class="logo-text"><span>{{prueba}} HSC</span></a>
                    </div><!-- Logo Box -->

                    <div class="topmenu-outer">
                        <div class="top-menu">
                            <ul class="nav navbar-nav navbar-left">
                                <li>		
                                    <a href="javascript:void(0);" class="waves-effect waves-button waves-classic sidebar-toggle"><i class="fa fa-bars"></i></a>
                                </li>

                                <li>		
                                    <a href="javascript:void(0);" class="waves-effect waves-button waves-classic toggle-fullscreen"><i class="fa fa-expand"></i></a>
                                </li>
                                
                            </ul>
                            <ul class="nav navbar-nav navbar-right">

                                <li class="dropdown">
                                    <a href="lock-screen.html">
                                        <span><i class="fa fa-lock m-r-xs"></i>Suspender</span></a>

                                </li>
                                <li>
                                    <a href="login.html" class="log-out waves-effect waves-button waves-classic">
                                        <span><i class="fa fa-sign-out m-r-xs"></i>Cerrar sesión</span></a>


                                </li>

                            </ul><!-- Nav -->
                        </div><!-- Top Menu -->
                    </div>
                </div>
            </div><!-- Navbar -->
            <div class="page-sidebar sidebar">
                <div class="page-sidebar-inner slimscroll">
                    <div class="sidebar-header">
                        <div class="sidebar-profile">
                            <a href="javascript:void(0);" id="profile-menu-link">
                                
                                <div class="sidebar-profile-image">
                                    <img src="assets/images/profile-menu-image.png" class="img-circle img-responsive" alt="">
                                </div>
                                <div class="sidebar-profile-details">
                                    <span>fzavala<br><small>control y gestión</small></span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <ul class="menu accordion-menu">
                        
                        <li><a href="iniciomockup.html" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-home"></span><p>Dashboard</p></a></li>
                        <li class="droplink"><a href="inputmockup.html" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon glyphicon-stats"></span><p>Proyección</p><span class="arrow"></span></a>
                            <ul class="sub-menu">
                                <li><a href="proyectar.html"><p>Proyectar</p></a>
                                <li><a href="historicos.html"><p>Históricos</p></a>

                        
                    </ul>
                        </li>
                        <li class="droplink"><a href="patologias.html" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-calendar"></span><p>Agenda médica</p><span class="arrow"></span></a></a>
                            <ul class="sub-menu">
                                <li><a href="agenda.html"><p>Agendar</p></a>
                                <li><a href="veragendas.html"><p>Ver agendas</p></a>

                        
                            </ul>
                        
                        
                        <li class="droplink"><a href="patologias.html" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-user"></span><p>Especialista</p><span class="arrow"></span></a></a>
                            <ul class="sub-menu">
                                <li><a href="especialistas.html"><p>Especialistas</p></a>
                                <li><a href="especialidades.html"><p>Especialidades</p></a>

                        
                            </ul>
                        </li>
                        <li><a href="patologias.html" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon glyphicon-pushpin"></span><p>Patología</p></a></li>
                        
                </div><!-- Page Sidebar Inner -->
            </div><!-- Page Sidebar -->
</div>