<!DOCTYPE html>
<html>
    <head>
        
        <!-- Title -->
        <title>Inicio | Sistema de proyección listas de espera</title>
        
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta charset="UTF-8">
        <meta name="description" content="Admin Dashboard Template" />
        <meta name="keywords" content="admin,dashboard" />
        <meta name="author" content="Steelcoders" />
        
         <!-- Styles -->
         <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
         <link href="assets/plugins/pace-master/themes/blue/pace-theme-flash.css" rel="stylesheet"/>
         <link href="assets/plugins/uniform/css/uniform.default.min.css" rel="stylesheet"/>
         <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
         <link href="assets/plugins/fontawesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
         <link href="assets/plugins/line-icons/simple-line-icons.css" rel="stylesheet" type="text/css"/>	
         <link href="assets/plugins/offcanvasmenueffects/css/menu_cornerbox.css" rel="stylesheet" type="text/css"/>	
         <link href="assets/plugins/waves/waves.min.css" rel="stylesheet" type="text/css"/>	
         <link href="assets/plugins/switchery/switchery.min.css" rel="stylesheet" type="text/css"/>
         <link href="assets/plugins/3d-bold-navigation/css/style.css" rel="stylesheet" type="text/css"/>	
         <link href="assets/plugins/slidepushmenus/css/component.css" rel="stylesheet" type="text/css"/>
         <link href="assets/plugins/datatables/css/jquery.datatables.min.css" rel="stylesheet" type="text/css"/>	
         <link href="assets/plugins/datatables/css/jquery.datatables_themeroller.css" rel="stylesheet" type="text/css"/>	
         <link href="assets/plugins/x-editable/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" type="text/css">
         <link href="assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" type="text/css"/>
        
        <!-- Theme Styles -->
        <link href="assets/css/modern.min.css" rel="stylesheet" type="text/css"/>
        <link href="assets/css/themes/green.css" class="theme-color" rel="stylesheet" type="text/css"/>
        <link href="assets/css/custom.css" rel="stylesheet" type="text/css"/>
        
        <script src="assets/plugins/3d-bold-navigation/js/modernizr.js"></script>
        <script src="assets/plugins/offcanvasmenueffects/js/snap.svg-min.js"></script>
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        
    </head>
    <body class="page-header-fixed">
        <div class="overlay"></div>

        <main class="page-content content-wrap">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="sidebar-pusher">
                        <a href="javascript:void(0);" class="waves-effect waves-button waves-classic push-sidebar">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                    <div class="logo-box">
                        <a href="index.html" class="logo-text"><span>HSC</span></a>
                    </div><!-- Logo Box -->

                    <div class="topmenu-outer">
                        <div class="top-menu">
                            <ul class="nav navbar-nav navbar-left">
                                <li>		
                                    <a href="javascript:void(0);" class="waves-effect waves-button waves-classic sidebar-toggle"><i class="fa fa-bars"></i></a>
                                </li>
                                <li>
                                    <a href="#cd-nav" class="waves-effect waves-button waves-classic cd-nav-trigger"><i class="fa fa-diamond"></i></a>
                                </li>
                                <li>		
                                    <a href="javascript:void(0);" class="waves-effect waves-button waves-classic toggle-fullscreen"><i class="fa fa-expand"></i></a>
                                </li>
                                <li class="dropdown">
                                    
                                    <ul class="dropdown-menu dropdown-md dropdown-list theme-settings" role="menu">
                                        <li class="li-group">
                                            <ul class="list-unstyled">
                                                <li class="no-link" role="presentation">
                                                    Fixed Header 
                                                    <div class="ios-switch pull-right switch-md">
                                                        <input type="checkbox" class="js-switch pull-right fixed-header-check" checked>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="li-group">
                                            <ul class="list-unstyled">
                                                <li class="no-link" role="presentation">
                                                    Fixed Sidebar 
                                                    <div class="ios-switch pull-right switch-md">
                                                        <input type="checkbox" class="js-switch pull-right fixed-sidebar-check">
                                                    </div>
                                                </li>
                                                <li class="no-link" role="presentation">
                                                    Horizontal bar 
                                                    <div class="ios-switch pull-right switch-md">
                                                        <input type="checkbox" class="js-switch pull-right horizontal-bar-check">
                                                    </div>
                                                </li>
                                                <li class="no-link" role="presentation">
                                                    Toggle Sidebar 
                                                    <div class="ios-switch pull-right switch-md">
                                                        <input type="checkbox" class="js-switch pull-right toggle-sidebar-check">
                                                    </div>
                                                </li>
                                                <li class="no-link" role="presentation">
                                                    Compact Menu 
                                                    <div class="ios-switch pull-right switch-md">
                                                        <input type="checkbox" class="js-switch pull-right compact-menu-check">
                                                    </div>
                                                </li>
                                                <li class="no-link" role="presentation">
                                                    Hover Menu 
                                                    <div class="ios-switch pull-right switch-md">
                                                        <input type="checkbox" class="js-switch pull-right hover-menu-check">
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="li-group">
                                            <ul class="list-unstyled">
                                                <li class="no-link" role="presentation">
                                                    Boxed Layout 
                                                    <div class="ios-switch pull-right switch-md">
                                                        <input type="checkbox" class="js-switch pull-right boxed-layout-check">
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="li-group">
                                            <ul class="list-unstyled">
                                                <li class="no-link" role="presentation">
                                                    Choose Theme Color
                                                    <div class="color-switcher">
                                                        <a class="colorbox color-blue" href="?theme=blue" title="Blue Theme" data-css="blue"></a>
                                                        <a class="colorbox color-green" href="?theme=green" title="Green Theme" data-css="green"></a>
                                                        <a class="colorbox color-red" href="?theme=red" title="Red Theme" data-css="red"></a>
                                                        <a class="colorbox color-white" href="?theme=white" title="White Theme" data-css="white"></a>
                                                        <a class="colorbox color-purple" href="?theme=purple" title="purple Theme" data-css="purple"></a>
                                                        <a class="colorbox color-dark" href="?theme=dark" title="Dark Theme" data-css="dark"></a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="no-link"><button class="btn btn-default reset-options">Reset Options</button></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">

                                
                                
                                <li class="dropdown">
                                    <a href="lock-screen.html">
                                        <span><i class="fa fa-lock m-r-xs"></i>Suspender</span></a>

                                </li>
                                <li>
                                    <a href="login.html" class="log-out waves-effect waves-button waves-classic">
                                        <span><i class="fa fa-sign-out m-r-xs"></i>Cerrar sesión</span></a>


                                </li>

                            </ul><!-- Nav -->
                        </div><!-- Top Menu -->
                    </div>
                </div>
            </div><!-- Navbar -->
            <div class="page-sidebar sidebar">
                <div class="page-sidebar-inner slimscroll">
                    <div class="sidebar-header">
                        <div class="sidebar-profile">
                            <a href="javascript:void(0);" id="profile-menu-link">
                                
                                <div class="sidebar-profile-image">
                                    <img src="assets/images/profile-menu-image.png" class="img-circle img-responsive" alt="">
                                </div>
                                <div class="sidebar-profile-details">
                                    <span>fzavala<br><small>control y gestión</small></span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <ul class="menu accordion-menu">
                        
                        <li><a href="iniciomockup.html" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-home"></span><p>Dashboard</p></a></li>
                        <li class="droplink"><a href="inputmockup.html" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon glyphicon-stats"></span><p>Proyección</p><span class="arrow"></span></a>
                            <ul class="sub-menu">
                                <li><a href="proyectar.html"><p>Proyectar</p></a>
                                <li><a href="historicos.html"><p>Históricos</p></a>

                        
                    </ul>
                        </li>
                        <li class="droplink"><a href="patologias.html" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-calendar"></span><p>Agenda médica</p><span class="arrow"></span></a></a>
                            <ul class="sub-menu">
                                <li><a href="agenda.html"><p>Agendar</p></a>
                                <li><a href="veragendas.html"><p>Ver agendas</p></a>

                        
                            </ul>  
                        
                        
                        <li class="droplink"><a href="patologias.html" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-user"></span><p>Especialista</p><span class="arrow"></span></a></a>
                            <ul class="sub-menu">
                                <li><a href="especialistas.html"><p>Especialistas</p></a>
                                <li><a href="especialidades.html"><p>Especialidades</p></a>

                        
                    </ul>
                        </li>
                        <li   class="active" ><a href="patologias.html" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon glyphicon-pushpin"></span><p>Patología</p></a></li>
                        
                </div><!-- Page Sidebar Inner -->
            </div><!-- Page Sidebar -->
            <div class="page-inner">
                <div class="page-title">
                    <h3>Lista de intervenciones quirúrgicas</h3>
                    <div class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li><a href="index.html">Inicio</a></li>
                            <li class="active">Intervenciones</li>
                        </ol>
                    </div>
                </div>
                
                <div id="main-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            
                            <div class="panel panel-white">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Intervenciones quirúrgicas</h4>
                                </div>
                                <div class="panel-body">
                               <div class="table-responsive">
                                   <table id="example2" class="display table">
                                       <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Consultas pendientes</th>

                                                <th>Especialidad</th>
                                                <th>Duración promedio</th>


                                                <th>Acciones</th>

                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Consultas pendientes</th>

                                                <th>Especialidad</th>
                                                <th>Duración promedio</th>


                                                <th>Acciones</th>

                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr>
                                                <td><a href="#" data-toggle="modal" data-target=".bs-example-modal-lg">Hernia</a></td>
                                                <td>303</td>
                                                <td>Cirugía General</td>
                                                <td>1 Hr.</td>

                                                <td>Modificar eliminar</td>



                                            </tr>


                                            

                                        </tbody>
                                   </table>
                               </div>
                                </div>
                            </div>
                        </div>

                    </div>    
                    <button type="button" class="btn btn-success m-b-sm" data-toggle="modal" data-target="#myModal">Agregar nuevo</button>

                 </div>   
                 
                 
                 
                 <!-- Modal especialista-->

                 <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myLargeModalLabel">Cirugia de #Hernia</h4>
                            </div>
                            <div class="modal-body">

                                <div role="tabpanel">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-pills" role="tablist">
                                        <li role="presentation" class="active"><a href="#tab25" role="tab" data-toggle="tab">Rendimiento cirugías</a></li>
                                        <li role="presentation"><a href="#tab26" role="tab" data-toggle="tab">Otro</a></li>

                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active fade in" id="tab25">
                                            <div class="table-responsive">
                                                <table id="example" class="display table" style="width: 100%; cellspacing: 0;">
                                                    <thead>
                                                        <tr>
                                                            <th>id cirugia</th>
                                                            <th>Especialista encargado</th>
                                                            <th>Fecha</th>
                                                            <th>Hora inicio</th>
                                                            <th>Hora termino </th>
                                                            <th>Duración en minutos </th>
                                                            <th>Resultado </th>
                                                            <th>Acciones </th>



            
                                                        </tr>
                                                    </thead>
                                                    
                                                    <tbody>
                                                        <tr>
                                                            <td>sd13s</a></td>
                                                            <td>Alexis Lamus</td>
                                                            <td>01-06-2021</td>
                                                            <td>13.00</td>
                                                            <td>14.00</td>
                                                            <td>60</td>
                                                            <td>OK</td>
                                                            <td>Modificar Eliminar</td>

            
            
                                                        </tr>
                                                        <tr>
                                                            <td>sd15s</a></td>
                                                            <td>Alexis Lamus</td>
                                                            <td>02-06-2021</td>
                                                            <td>13.00</td>
                                                            <td>13.59</td>
                                                            <td>59</td>
                                                            <td>OK</td>
                                                            <td>Modificar Eliminar</td>

            
            
                                                        </tr>
                                                        <tr>
                                                            <td>sd17s</a></td>
                                                            <td>Alexis Lamus</td>
                                                            <td>04-06-2021</td>
                                                            <td>13.00</td>
                                                            <td>14.03</td>
                                                            <td>63</td>
                                                            <td>OK</td>
                                                            <td>Modificar Eliminar</td>

            
            
                                                        </tr>
                                                    </tbody>
                                                   </table>  
                                                </div>                                               
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="tab26">
                                            <table id="user" class="table table-bordered table-striped" style="clear: both">
                                                <tbody> 
                                                    <tr>   
                                                        <td style="width: 35%;">Nombre contrato</td>
                                                        <td style="width: 65%;"><a href="#" id="username" data-type="text" data-pk="1" data-title="Ingresa nombre" class="editable editable-click" style="display: inline;">Full45</a></td>
                                                    </tr>
                                                    <tr>   
                                                        <td style="width: 35%;">Horas contrato</td>
                                                        <td style="width: 65%;"><a href="#" id="username" data-type="text" data-pk="1" data-title="Ingresa rut" class="editable editable-click" style="display: inline;">44</a></td>
                                                    </tr> 
                                                    <tr>   
                                                        <td style="width: 35%;">Tipo contrato</td>
                                                        <td style="width: 65%;"><a href="#" id="username" data-type="text" data-pk="1" data-title="Ingresa rut" class="editable editable-click" style="display: inline;">Full</a></td>
                                                    </tr> 
                                                    <tr>   


   
                                                </tbody>
                                            </table>

                                        
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-success">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal especialista-->
                <!-- Modal agregar -->
                <form id="add-row-form" action="javascript:void(0);">
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Nueva especialidad</h4>
                                </div>
                                <div class="modal-body">
                                        <div class="form-group">
                                            <input type="text" id="name-input" class="form-control" placeholder="Nombre" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" id="salary-input" class="form-control" placeholder="Especialidad" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="number" id="salary-input" class="form-control" placeholder="Consultas pendientes" required>
                                        </div>


                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <button type="submit" id="add-row" class="btn btn-success">Agregar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                                    </form>
                <!-- Modal agregar nueva espc.-->



                 <!-- Main Wrapper -->
                <div class="page-footer">
                    <p class="no-s">2021 &copy; Universidad de Talca.</p>
                </div>
            </div><!-- Page Inner -->
        </main><!-- Page Content -->
        <nav class="cd-nav-container" id="cd-nav">
            <header>
                <h3>Navigation</h3>
                <a href="#0" class="cd-close-nav">Close</a>
            </header>
            <ul class="cd-nav list-unstyled">
                <li class="cd-selected" data-menu="index">
                    <a href="javsacript:void(0);">
                        <span>
                            <i class="glyphicon glyphicon-home"></i>
                        </span>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li data-menu="profile">
                    <a href="javsacript:void(0);">
                        <span>
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <p>Profile</p>
                    </a>
                </li>
                <li data-menu="inbox">
                    <a href="javsacript:void(0);">
                        <span>
                            <i class="glyphicon glyphicon-envelope"></i>
                        </span>
                        <p>Mailbox</p>
                    </a>
                </li>
                <li data-menu="#">
                    <a href="javsacript:void(0);">
                        <span>
                            <i class="glyphicon glyphicon-tasks"></i>
                        </span>
                        <p>Tasks</p>
                    </a>
                </li>
                <li data-menu="#">
                    <a href="javsacript:void(0);">
                        <span>
                            <i class="glyphicon glyphicon-cog"></i>
                        </span>
                        <p>Settings</p>
                    </a>
                </li>
                <li data-menu="calendar">
                    <a href="javsacript:void(0);">
                        <span>
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                        <p>Calendar</p>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="cd-overlay"></div>
	

        <!-- Javascripts -->
        <script src="assets/plugins/jquery/jquery-2.1.4.min.js"></script>
        <script src="assets/plugins/jquery-ui/jquery-ui.min.js"></script>
        <script src="assets/plugins/pace-master/pace.min.js"></script>
        <script src="assets/plugins/jquery-blockui/jquery.blockui.js"></script>
        <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <script src="assets/plugins/switchery/switchery.min.js"></script>
        <script src="assets/plugins/uniform/jquery.uniform.min.js"></script>
        <script src="assets/plugins/offcanvasmenueffects/js/classie.js"></script>
        <script src="assets/plugins/offcanvasmenueffects/js/main.js"></script>
        <script src="assets/plugins/waves/waves.min.js"></script>
        <script src="assets/plugins/3d-bold-navigation/js/main.js"></script>


        <script src="assets/plugins/jquery-mockjax-master/jquery.mockjax.js"></script>
        <script src="assets/plugins/moment/moment.js"></script>
        <script src="assets/plugins/datatables/js/jquery.datatables.min.js"></script>

        
        <script src="assets/plugins/x-editable/bootstrap3-editable/js/bootstrap-editable.js"></script>
        <script src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script src="assets/js/modern.min.js"></script>
        <script src="assets/js/pages/table-data.js"></script>
        <script src="assets/js/pages/form-x-editable.js"></script>

        
    </body>
</html>